DATABASE_URL =postgresql://postgres.xslkdahizfrnbmoytnuc:BrraPbfQontwqUpd@aws-1-ap-northeast-1.pooler.supabase.com:6543/postgres
SUPABASE_URL =https://xslkdahizfrnbmoytnuc.supabase.co
SUPABASE_KEY =eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InhzbGtkYWhpemZybmJtb3l0bnVjIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzU5MjY5NTIsImV4cCI6MjA5MTUwMjk1Mn0.NK2jfUTW3ERstL0zYlJ387Li2_C7dL2jrxIEGa7rLg8
