PROJECT_NAME="PAKAR-AIR API"
SECRET_KEY="supersecretkey_please_change"
ALGORITHM="HS256"
ACCESS_TOKEN_EXPIRE_MINUTES="30"

# Postgres Database (Supabase)
DATABASE_URL="postgresql://postgres.yourid:yourpassword@aws-0-ap-southeast-1.pooler.supabase.com:6543/postgres"

# Supabase Storage & APIs
SUPABASE_URL="https://yourid.supabase.co"
SUPABASE_KEY="eyJhbGciOiJI... (your anon key)"

UPLOAD_FOLDER="uploads"
PORT=5000
