fastapi
uvicorn[standard]
sqlalchemy
alembic
pydantic
pydantic-settings
python-jose[cryptography]
passlib[bcrypt]
python-multipart
python-dotenv
supabase
ultralytics
scikit-learn
pandas
pillow
psycopg2-binary
google-genai
